.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.shape {
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.connector {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.menu_item {
}
.flow_shape {
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.shape1 {
}
.image1 {
  color:#000000;
}
.placeholder {
}
.vertical_line {
}
.iconfont {
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._文本段落 {
  text-align:left;
}
.horizontal_line {
}
.label1 {
  font-size:14px;
  text-align:left;
}
._图片 {
}
.heading_12 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.table_cell {
}
.box_11 {
}
.box_21 {
}
.ellipse1 {
}
._单元格 {
}
.shape2 {
}
._连接线 {
}
._形状 {
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
._文本框 {
  color:#000000;
  text-align:left;
}
.icon {
}
.marker {
  color:#FFFFFF;
}
.radio_button {
  text-align:left;
}
.horizontal_line1 {
}
.box_31 {
}
.line1 {
}
._水平线 {
}
._垂直线 {
}
._表格 {
}
